/*General Setting*/

body{
    width: 1280px;
    margin: 0 auto;
}


/*Color*/

/*Background Color*/

.WhiteBG{
    background-color: #F4F9F4;
}

.PrimaryBG1{
    background-color: #5C8D89;
}

.PrimaryBG2{
    background-color: #74B49B;
}

.PrimaryBG3{
    background-color: #A7D7C5;
}

.AccentBG1{
    background-color: #FF4D4D;
}

.AccentBG2{
    background-color: #FF8364;
}

.AccentBG3{
    background-color: #FDB87D;
}

/*Text Color*/

.Black{
    color: #101415
}

.White{
    color: #F4F9F4;
}

.Primary1{
    color: #5C8D89;
}

.Primary2{
    color: #74B49B;
}

.Primary3{
   color: #A7D7C5;
}

.Accent1{
    color: #FF4D4D;
}

.Accent2{
    color: #FF8364;
}

.Accent3{
    color: #FDB87D;
}

/*Font*/

h1{
font-family: Monda;
font-size: 72pt;
}

h2{
font-family: Rubik;
font-size: 46pt;
}

h3{
font-family: Monda;
font-size: 32pt;
}

h4{
font-family: Poly;
font-size: 24pt;
margin-bottom: 50px;
}

.H4Monda{
    font-family: Monda;
    font-size: 24pt;
}

h5{
font-family: Monda;
font-size: 18pt;
}

p{
font-family: Poly;
font-size: 16pt;
margin: 60px auto;
}

/*Add New Font*/

        /*Monda*/

        @font-face {
            font-family: Monda;
            src: url('https://hyunjiikim.github.io/m1cmwneogeo/Monda/Monda-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: Monda;
            src: url('https://hyunjiikim.github.io/m1cmwneogeo/Monda/Monda-Bold.ttf');
            font-weight: bold;
            font-style: normal;
        }

    /*Poly*/

        @font-face {
            font-family: Poly;
            src: url('https://hyunjiikim.github.io/m1cmwneogeo/Poly/Poly-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: Poly;
            src: url('https://hyunjiikim.github.io/m1cmwneogeo/Poly/Poly-Italic.ttf');
            font-weight: normal;
            font-style: italic;
        }

    /*RubikScribble*/

        @font-face {
            font-family: Rubik;
            src: url('https://hyunjiikim.github.io/m1cmwneogeo/Rubik_Scribble/RubikScribble-Regular.ttf');
        }


/*Text Style*/

    .italic{
        font-style: italic;
    }

    .bold{
        font-weight: bold;
    }

/*Text Alignment*/

.Tcenter{
    text-align: center;
}

.TLeft{
    text-align: left;
}




/*Header*/

header{
    width: 1000px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
}

#menu{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    #menu li{
        margin-left: 15px;
    }

        #menu li:last-child{
            margin-right: 30px;
        }
    
nav a{
font-family: Monda;
font-weight: bold;
font-size: 18pt;
text-decoration: none;
color: rgba(244,249,244,0.8);
}

nav a#current{
    color:#F4F4F4;
    font-weight: bold;
}

/*Section*/


.Title{
    margin: 50px auto;
}

    .MoveLR{
        animation-name: MoveLR;
        animation-duration: 5s;
    }

        @keyframes MoveLR{
            from{
                transform: translateX(-100%);
            }
            to{
                transform: translateX(center)
            }
        }

    .MoveRL{
        animation-name: MoveRL;
        animation-duration: 5s;
    }
        

        @keyframes MoveRL{
            from{
                transform: translateX(100%);
            }
            to{
                transform: translateX(center);
            }
        }

#gif{
    margin: 30px auto;
    width: fit-content;
}


.BoxSimple{
    margin: 30px auto;
    width: 1110px;
}

.paragraphCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraphLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    width: 1110px;
}

    .paragraphLeft::img{
        order: 2;
    }

.paragraphRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    width: 1110px;
}

    .paragraphRight::img{
        order: 1;
    }

    .paragraphRight .para{
        width: 500px;
        margin-left: 30px;  
    }

figure{
    
    text-align: center;
    font-family: Monda;
    font-size: 14pt;
}

    /*Para2*/

        .para2 img{
            width: 400px;
            height: 280px;
        }

    /*Para4*/

        .para4 img{
            width: 650px;
            height: 400px;
        }

    /*Para6*/

        .para6 img{
            width: 660px;
            height: 480px;
        }

    /*Para8*/

        .para8 img{
            width: 480px;
            height: 480px;
        }

    /*Comparaison*/

        #compar1, .img3 img{
            width: 190px;
            height: 160px;
        }

            #compar1{
                table-layout: initial;
                margin-right: auto;
                margin-left: auto;
            }




     /*Biblio*/

           .source{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 20px auto 60px;
        }

            .source a{
                text-decoration: none;
            }

            .source ul{
                margin-top: 0px;
            }

